/*page menu*/
.header-menu {
  display: flex;
  text-align: center;
  align-items: center;
}
.header-menu nav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:Shrikhand,"cursive"; 
  font-size: 1.2em;
}
/*flèche menu*/
a {
  text-decoration: none;
  color: #000;
}
.icone-menu {
  padding: 15px 25px 0px 20px;
}
.icone-menu {
  padding: 15px 25px 0px 20px;
}
.header-menu nav h1 {
  text-align: center;
  padding-left: 25px;
}
/*page menu*/
.header-menu {
  display: flex;
  text-align: center;
  align-items: center;
}

   