/*page principale*/
.header-index  {
   display: flex;
   width: 100%;
   justify-content: center;
   padding-bottom: 10px;
   padding-top: 10px;
   box-shadow:0 0 0.5rem gray;
}
.header-index img {
   width:200px;
}
.header-description {
   display: flex;
   align-items: center;
   justify-content: center;
}
