body {
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Roboto";
    margin: 0;
    width: 100%;
  } 
main img menu {
    max-width: 100%;
    height: 280px;
    object-fit: cover;
  }
  /*nom resto ex:la palette*/
.container {
    margin-top: -4px;
  }
.nom {
    display: flex;
    flex-direction: column;
    }
h2 menu {
    font-family:Shrikhand;
    font-size: 1.5em;
  }
.resto {
    display: flex;
    justify-content: space-between;
  }
  
  /*choix de carte*/
  section menu {
    background-color: #f6f6f6;
    flex-direction: column;
    display: flex;
    justify-content: center;
    padding-left:1.5rem;
    border-radius: 3rem; 
  }
   menu h3  {
    text-transform: uppercase;
    border-bottom: 3px solid #99E2D0;
    padding-right: 2.5em;
    top: 1.4em;
    left: 0;
  }
  /*déscription des choix (entrées,plats,desserts)*/
  .menu_choix {
    width: 320px;
    border-radius: 1rem;
    margin: 1.5rem 0;
  }
  .texte {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 15px 0;
    width: 350px;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #ccc;
    cursor: pointer;
    animation:top 2s forwards;
    left: 1rem;
    padding-left: 0.5rem;
    line-height: 0.5;
  }
  .clic_choix {
    display: flex;
    background-color:#99E2D0;
  }
  /*bouton commande*/
  .restaurants_btn {
    padding: 10px;
    border-radius: 20px;
    background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), #FF79DA);
    text-decoration: none;
    color: white;
    border: none;
    box-shadow: 2px 1px 8px -3px gray;
    width: 250px;
    height: 25px;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
    cursor: pointer;
  }
  .restaurants_btn:hover {
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    opacity: 0.7;
    box-shadow: 0px 12px 30px -5px rgba(0,0,0,0.85);
  }


