* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto-Black.ttf);
  font-weight: 900;
}
@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto-Medium.ttf);
  font-weight: 500;
}
* {
  font-family: "Roboto";
}

h2 {
  font-weight: 900;
}

h3 {
  font-weight: 900;
}

a:link,
a:visited {
  text-decoration: none;
}
.explorer-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  background-color: #f7f7f7;
  padding: 3rem 2rem;
}

.menu_img {
  max-height: 32rem;
  height: 21rem;
  width: 100%;
  object-fit: cover;
}

.restaurant {
  max-width: 80rem;
  margin: auto;
  background-color: #f6f6f6;
  margin-top: -4rem;
  position: relative;
  padding: 2rem 1rem;
  border-radius: 4rem 4rem 0 0;
}
.restaurant .menu__titre {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.restaurant .menu__titre .menu__titre__restoname {
  font-family: Shrikhand;
  font-size: 25px;
}
.restaurant .menu__titre .restoLike {
  position: relative;
  left: 0vw !important;
  bottom: 0vh !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1.5rem;
}
.restaurant .gridMenu {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 1rem;
  padding: 1rem 0 0 0;
}
.restaurant .gridMenu .menu__entrees,
.restaurant .gridMenu .menu__plats,
.restaurant .gridMenu .menu__desserts {
  display: flex;
  flex-direction: column;
  align-content: center;
  max-width: 100%;
  width: 100%;
  gap: 1em;
  padding: 1em;
  overflow: hidden;
}
.restaurant .gridMenu .menu__entrees h3,
.restaurant .gridMenu .menu__plats h3,
.restaurant .gridMenu .menu__desserts h3 {
  font-weight: 400;
  border-bottom: 3px solid #99e2d0;
  width: 3rem;
  padding-bottom: 0.3rem;
}
.restaurant .gridMenu .menu__entrees .menu__platItem,
.restaurant .gridMenu .menu__plats .menu__platItem,
.restaurant .gridMenu .menu__desserts .menu__platItem {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 1rem;
  display: flex;
  overflow: hidden;
  max-width: 100%;
  background-color: white;
  cursor: pointer;
  height: 4rem;
}
.restaurant .gridMenu .menu__entrees .menu__platItem:hover .menu__platItem__select,
.restaurant .gridMenu .menu__plats .menu__platItem:hover .menu__platItem__select,
.restaurant .gridMenu .menu__desserts .menu__platItem:hover .menu__platItem__select {
  margin-right: 0;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}
.restaurant .gridMenu .menu__entrees .menu__platItem:hover i,
.restaurant .gridMenu .menu__plats .menu__platItem:hover i,
.restaurant .gridMenu .menu__desserts .menu__platItem:hover i {
  transform: rotate(360deg);
  transition-duration: 0.5s;
}
.restaurant .gridMenu .menu__entrees .menu__platItem .menu__platItem__desc,
.restaurant .gridMenu .menu__plats .menu__platItem .menu__platItem__desc,
.restaurant .gridMenu .menu__desserts .menu__platItem .menu__platItem__desc {
  width: 100%;
  display: flex;
  max-width: 100%;
  overflow: hidden;
}
.restaurant .gridMenu .menu__entrees .menu__platItem .menu__platItem__desc .menu__platItem__descText,
.restaurant .gridMenu .menu__plats .menu__platItem .menu__platItem__desc .menu__platItem__descText,
.restaurant .gridMenu .menu__desserts .menu__platItem .menu__platItem__desc .menu__platItem__descText {
  width: 100%;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 100%;
  overflow: hidden;
}
.restaurant .gridMenu .menu__entrees .menu__platItem .menu__platItem__desc .menu__platItem__descText > *,
.restaurant .gridMenu .menu__plats .menu__platItem .menu__platItem__desc .menu__platItem__descText > *,
.restaurant .gridMenu .menu__desserts .menu__platItem .menu__platItem__desc .menu__platItem__descText > * {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
}
.restaurant .gridMenu .menu__entrees .menu__platItem .menu__platItem__desc .menu__platItem__descPrix,
.restaurant .gridMenu .menu__plats .menu__platItem .menu__platItem__desc .menu__platItem__descPrix,
.restaurant .gridMenu .menu__desserts .menu__platItem .menu__platItem__desc .menu__platItem__descPrix {
  display: flex;
  align-items: flex-end;
  margin-bottom: 1rem;
  margin-right: 1rem;
  max-width: 100%;
}
.restaurant .gridMenu .menu__entrees .menu__platItem .menu__platItem__select,
.restaurant .gridMenu .menu__plats .menu__platItem .menu__platItem__select,
.restaurant .gridMenu .menu__desserts .menu__platItem .menu__platItem__select {
  width: 7rem;
  background: #99e2d0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -7rem;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}
.restaurant .gridMenu .menu__entrees .menu__platItem .menu__platItem__select > i,
.restaurant .gridMenu .menu__plats .menu__platItem .menu__platItem__select > i,
.restaurant .gridMenu .menu__desserts .menu__platItem .menu__platItem__select > i {
  color: #99e2d0;
  padding: 0.5rem;
  border-radius: 50%;
  background: white;
  transition-duration: 0.5s;
}


body footer {
  background: #413d3d;
  color: white;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 2rem;
}
body footer .logo-footer {
  height: 17px;
}
body footer ul {
  list-style: none;
}
body footer ul .footer-link {
  color: white !important;
}
body footer ul .footer-icon {
  color: white;
  width: 1.2rem;
  margin-right: 0.5rem;
}

@media (min-width: 900px) {
  body .restaurant {
    width: 99vw;
  }
  body .restaurant .gridMenu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    row-gap: 1rem;
    padding: 1rem 0 0 0;
  }
  body .restaurant .gridMenu .menu__entrees,
body .restaurant .gridMenu .menu__plats,
body .restaurant .gridMenu .menu__desserts {
    display: flex;
    flex-direction: column;
    align-content: center;
    max-width: 100%;
    width: 100%;
    gap: 1em;
    padding: 1em;
    overflow: hidden;
  }
  body .restaurant .gridMenu .menu__entrees h3,
body .restaurant .gridMenu .menu__plats h3,
body .restaurant .gridMenu .menu__desserts h3 {
    font-weight: 400;
    border-bottom: 3px solid #99e2d0;
    width: 3rem;
    padding-bottom: 0.3rem;
  }
  body .restaurant .gridMenu .menu__entrees .menu__platItem,
body .restaurant .gridMenu .menu__plats .menu__platItem,
body .restaurant .gridMenu .menu__desserts .menu__platItem {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 1rem;
    display: flex;
    overflow: hidden;
    max-width: 100%;
    background-color: white;
    cursor: pointer;
    height: 5rem;
  }
  body .restaurant .gridMenu .menu__entrees .menu__platItem:hover .menu__platItem__select,
body .restaurant .gridMenu .menu__plats .menu__platItem:hover .menu__platItem__select,
body .restaurant .gridMenu .menu__desserts .menu__platItem:hover .menu__platItem__select {
    margin-right: 0;
    transition-duration: 0.5s;
    transition-timing-function: ease;
  }
  body .restaurant .gridMenu .menu__entrees .menu__platItem:hover i,
body .restaurant .gridMenu .menu__plats .menu__platItem:hover i,
body .restaurant .gridMenu .menu__desserts .menu__platItem:hover i {
    transform: rotate(360deg);
    transition-duration: 0.5s;
  }
  body .restaurant .gridMenu .menu__entrees .menu__platItem .menu__platItem__desc,
body .restaurant .gridMenu .menu__plats .menu__platItem .menu__platItem__desc,
body .restaurant .gridMenu .menu__desserts .menu__platItem .menu__platItem__desc {
    width: 100%;
    display: flex;
    max-width: 100%;
    overflow: hidden;
  }
  body .restaurant .gridMenu .menu__entrees .menu__platItem .menu__platItem__desc .menu__platItem__descText,
body .restaurant .gridMenu .menu__plats .menu__platItem .menu__platItem__desc .menu__platItem__descText,
body .restaurant .gridMenu .menu__desserts .menu__platItem .menu__platItem__desc .menu__platItem__descText {
    width: 80%;
    margin-left: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 100%;
    overflow: hidden;
  }
  body .restaurant .gridMenu .menu__entrees .menu__platItem .menu__platItem__desc .menu__platItem__descText > *,
body .restaurant .gridMenu .menu__plats .menu__platItem .menu__platItem__desc .menu__platItem__descText > *,
body .restaurant .gridMenu .menu__desserts .menu__platItem .menu__platItem__desc .menu__platItem__descText > * {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
  }
  body .restaurant .gridMenu .menu__entrees .menu__platItem .menu__platItem__desc .menu__platItem__descPrix,
body .restaurant .gridMenu .menu__plats .menu__platItem .menu__platItem__desc .menu__platItem__descPrix,
body .restaurant .gridMenu .menu__desserts .menu__platItem .menu__platItem__desc .menu__platItem__descPrix {
    display: flex;
    align-items: flex-end;
    margin-bottom: 1rem;
    margin-right: 1rem;
    max-width: 100%;
  }
  body .restaurant .gridMenu .menu__entrees .menu__platItem .menu__platItem__select,
body .restaurant .gridMenu .menu__plats .menu__platItem .menu__platItem__select,
body .restaurant .gridMenu .menu__desserts .menu__platItem .menu__platItem__select {
    width: 7rem;
    background: #99e2d0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -7rem;
    transition-duration: 0.5s;
    transition-timing-function: ease;
  }
  body .restaurant .gridMenu .menu__entrees .menu__platItem .menu__platItem__select > i,
body .restaurant .gridMenu .menu__plats .menu__platItem .menu__platItem__select > i,
body .restaurant .gridMenu .menu__desserts .menu__platItem .menu__platItem__select > i {
    color: #99e2d0;
    padding: 0.5rem;
    border-radius: 50%;
    background: white;
    transition-duration: 0.5s;
  }
}

/*# sourceMappingURL=style.css.map */
