body {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Roboto";
  margin: 0;
  width: 100%;
} 
.main-menu img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}
/*nom resto ex:la palette*/
.nom {
  display: flex;
  flex-direction: column;
}
h2 {
  font-family:Shrikhand;
  font-size: 1.5em;
  margin-left: 7px;
}
.resto {
  display: flex;
  justify-content: space-between;
}
/*choix de carte*/
.bloc-menu {
  flex-direction: column;
  justify-content: center;
}
.menu {
  background-color: #f6f6f6;
  flex-direction: column;
  display: flex;
  justify-content: center;
  padding-left:1rem; 
  border-radius: 2rem 2rem 0 0;
  z-index: 1;
  margin-top: -2rem;
  position: relative;
}
.cards_choix h3  {
  text-transform: uppercase;
  border-bottom: 3px solid #99E2D0;
  width: 45px;
  margin-left: 5px;
  font-weight: lighter;
  color:#5C5C5C ;
}
h4 {
  margin-top: 10px;
  margin-bottom: -8px;
}
/*déscription des choix (entrées,plats,desserts)*/
.texte  {
  margin-top: 10px;
  margin-bottom: -8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 180px;
}
.choix_plat p {
  text-align: inherit;
  font-size: 0.9em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.prix {
  padding: 5px;
  display: flex;
  align-items: flex-end;
}
@media all and (min-width: 600px) and (max-width:766px){
  body {
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Roboto";
    margin: 0;
    width: 100%;
  }
  .header-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .bloc-menu {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .choix_plat {
    display: flex;
    margin: 0 0px 15px 5px;
    width: 100%;
    overflow: hidden;
    background-color: #FFF;
    border-radius: 15px;
    box-shadow: 1px 5px 11px -2px #a19f9f;
    cursor: pointer;
    transition: all 1s;
    justify-content: space-between;
    padding-left: 0.5rem;
}
.prix {
  padding: 5px;
  display: flex;
  align-items: flex-end;
  padding-right: 2rem;
}
  .texte {
    margin-top: 10px;
    margin-bottom: -8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 217px;
}
  .cards_choix {
    width: 60%;
  }
  .menu .restaurants-btn {
    margin-left: 12rem;
  }
}
@media all and (min-width: 767px) and (max-width:992px){
  body {
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Roboto";
    margin: 0;
    width: 100%;
}
  .header-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
  .menu {
  background-color: #f6f6f6;
  flex-direction: column;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  border-radius: 2rem 2rem 0 0;
  z-index: 1;
  margin-top: -2rem;
  position: relative;
}
  .bloc-menu {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
} 
.texte {
  margin-top: 10px;
  margin-bottom: -8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 200px;
}
.prix {
  padding: 5px;
  display: flex;
  align-items: flex-end;
  padding-right: 3rem;
}
.cards_choix {
  width: 45%;
}
.menu .restaurants-btn {
  margin-left: 17rem;
}
}

@media all and (min-width: 993px) and (max-width:1300px){
  body {
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Roboto";
    margin: 0;
    width: 100%;
  }
  .header-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  }
  .bloc-menu {
  justify-content: center;
  display: flex;
  flex-direction: row;
  }
  .texte {
  margin-top: 10px;
  margin-bottom: -8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 200px;
}
  .cards_choix {
    width: 33%;
  }
  .menu .restaurants-btn {
    margin-left: 25rem;
  }
}
@media screen and (min-width:1301px){
  body {
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Roboto";
    margin: 0;
    width: 100%;
  }
  .header-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .bloc-menu {
    justify-content: center;
    display: flex;
    flex-direction: row;
  }
  .cards_choix {
    width: 26%;
  }
  .menu .restaurants-btn {
    margin-left: 35rem;
  }
  }

 
 

  
  
  


