body {
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Roboto";
    margin: 0;
    width: 100%;
    
  }
  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-animation: 4s;
    animation-timing-function:linear;
    animation-play-state: running;
  }  
    @keyframes  { {
      background: url("restaurantfond.jpg");
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size:cover;
    }   
  }
  header {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 10px;
    box-shadow: 0 0 0.5rem gray;
  }
  header img {
    width:200px
  }
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  section {
    background-color: #f6f6f6;
    flex-direction: column;
    display: flex;
    justify-content: center;
  }
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #eaeaea;
    height: 50px;
  }
  h1 {
    text-align: center;
    margin-top: 30px;
  }
  section p {
    text-align: center;
  }
  /*bouton*/
  .restaurants_btn {
    padding: 10px;
    border-radius: 20px;
    background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), #FF79DA);/*base couleur*/
    text-decoration: none;
    color: white;
    border: none;
    box-shadow: 2px 1px 8px -3px gray;
    width: 250px;
    height: 25px;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
    cursor: pointer;
  }
  .restaurants_btn:hover {
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    opacity: 0.7;
    box-shadow: 0px 12px 30px -5px rgba(0,0,0,0.85);
  } 
  /*fonctionnement*/
  .section1 {
    background-color: white;
  }
  ol {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
  }
  li {
    align-items: center;
    background-color: #f6f6f6;
    flex-grow: 1;
    padding: 0.5rem 2rem;
    border-radius: 1.2rem;
    box-shadow: 2px 1px 8px -3px #a19f9f;
    margin-bottom: 1.5rem;
    list-style: none;
    position: relative;
    margin-right: 1rem;
    display: flex;
  }
  .number {
    color: #9356dc;
    border-radius: 50%;
    background-color: #9356dc;
    width: 22px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    left: -0.5rem;
  }
  .genre h2 {
    margin: 3rem 0 3rem 0.5rem;
  }
  /*icone*/
  .genre i {
    color: #7e7e7e;
    margin: 0 1.5rem 0 0.5rem;
  }
  i.fa-store {
    color: #9356dc;
  }
  /*bloc restaurants*/
  #Restaurants {
    background-color: #f6f6f6;
    margin-top: 4rem;
  }
  #Restaurants h2 {
    padding-left: 1rem;
    padding-top: 2rem;
  }
  .container {
    position: relative;
    margin: auto;
  }
  figcaption {
    display: flex;
  }
  .card {
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 5px 15px 0 #c9c6c6;
    margin: 10px 10px 30px 10px;
  }
  .card_resto {
    padding-left: 20px;
    line-height: 6px;
    padding-left: 20px;
    cursor: pointer;
  }
  .card a {
    text-decoration: none;
    color: black;
  }
  .card_new {
    background-color: #99E2D0;
    color: #1b6150;
    position: absolute;
    right: 1.5rem;
    padding: 8px;
    margin-top: 1rem;
  }
  .card img {
    width: 100%;
    border-radius: 20px 20px 0 0 ;
    height: 180px;
    object-fit: cover;
  }
  
  /*coeur cartes restaurants*/
  .heart_btn {
    position: absolute;
    right: 3rem;
    margin-top: 15px;
    cursor: pointer;
  }
  .fa-heart {
    cursor: pointer;
    font-size: 1.5rem;
    position: absolute;
    opacity: 0;
  }
  .fas:hover {
    color: transparent;
    background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), #FF79DA);
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 1;
    transition: 0.6s;
    display: block;
  }
  .far {
    opacity: 1;
    padding: 0;
  }
  /*footer*/
  footer {
    background-color:rgb(53,53,53) ;
  }
  .logo_footer {
    font-family: Shrikhand, "cursive";
    font-size: 1.3rem;
    margin-top: 20px;
  }
  .footer_container a {
    text-decoration: none;
  }
  .footer_container {
      display: flex;
      flex-direction: column;
      padding: 1rem; 
  }
  footer p {
    color: white;
    font-size: 18px;
  }
  .gray {
    color: white;
    padding-right: 1rem;
  }
  footer ul {
    padding-left: 5px;
  }
  
  
  
  
  
  
  
