@charset "UTF-8";
body {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Roboto";
  margin: 0;
  width: 100%;
}

section {
  background-color: rgb(246, 246, 246);
  flex-direction: column;
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: rgb(234, 234, 234);
  height: 50px;
}

form i {
  margin-right: 1.5rem;
}

input {
  font-size: 14px;
  background-color: rgb(234, 234, 234);
  border: none;
}

h1 {
  text-align: center;
  margin-top: 30px;
}

section p {
  text-align: center;
}

/*fonctionnement*/
ol {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin-left: 2rem;
}

#genre li {
  align-items: center;
  background-color: #F5EDFF;
  flex-grow: 1;
  padding: 0.5rem 0.5rem;
  border-radius: 1.2rem;
  box-shadow: 2px 1px 8px -3px rgb(161, 159, 159);
  margin-bottom: 1.5rem;
  list-style: none;
  font-weight: bold;
  position: relative;
  display: flex;
  margin-right: 1rem;
  height: 60px;
}

.number {
  color: rgb(147, 86, 220);
  border-radius: 50%;
  background-color: rgb(147, 86, 220);
  width: 22px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  left: -0.5rem;
}

.genre h2 {
  margin: 3rem 0 3rem 0.5rem;
  font-family: "Roboto";
}

/*icone fonctionnement*/
.genre i {
  color: rgb(126, 126, 126);
  margin: 0 20px 0 20px;
}

/*bloc restaurants*/
#Restaurants {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: rgb(246, 246, 246);
  margin: auto;
}

#Restaurants h2 {
  padding-left: 1rem;
  font-family: "Roboto";
}

.container {
  display: flex;
  justify-content: space-evenly;
  flex-flow: wrap;
  align-items: center;
  margin-bottom: 45px;
}

figcaption {
  display: flex;
}

figcaption p {
  color: #616060;
  font-size: 17px;
}

.card_resto {
  padding-left: 1rem;
  font-family: "Roboto";
  padding-bottom: 5px;
}

.card {
  width: 95%;
  margin: 8px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 5px 15px 0 rgb(201, 198, 198);
  position: relative;
  height: 230px;
}

.card_new {
  background-color: rgb(153, 226, 208);
  color: #1b6150;
  position: absolute;
  right: 0.7rem;
  top: 1rem;
  padding: 8px;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}

/*tablette main-index*/
@media all and (min-width: 767px) and (max-width: 992px) {
  body {
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Roboto";
    margin: 0;
    width: 100%;
  }

  .header-index {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 10px;
    box-shadow: 0 0 0.5rem grey;
  }

  section {
    background-color: #f6f6f6;
    flex-direction: column;
    display: flex;
    justify-content: center;
  }

  .genre h2 {
    margin: 3rem 0 3rem 1.5rem;
    font-family: "Roboto";
  }

  ol {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 4rem;
  }

  #genre li {
    align-items: center;
    background-color: #F5EDFF;
    flex-grow: 1;
    padding: 0.5rem 0.5rem;
    border-radius: 1.2rem;
    box-shadow: 2px 1px 8px -3px rgb(161, 159, 159);
    margin-bottom: 1.5rem;
    list-style: none;
    font-weight: bold;
    position: relative;
    display: flex;
    margin-right: 1rem;
    height: 60px;
  }

  #Restaurants {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: #f6f6f6;
    margin: auto;
  }

  #Restaurants h2 {
    padding-left: 1rem;
    font-family: "Roboto";
  }

  .container {
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
    align-items: center;
    margin-bottom: 45px;
  }

  .card {
    width: 95%;
    margin: 8px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 5px 15px 0 #c9c6c6;
    position: relative;
  }
}
/*main index desktop first*/
@media all and (min-width: 993px) and (max-width: 1300px) {
  body {
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Roboto";
    margin: 0;
    width: 100%;
  }

  .header-index {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 10px;
    box-shadow: 0 0 0.5rem grey;
  }

  section {
    background-color: #f6f6f6;
    flex-direction: column;
    display: flex;
    justify-content: center;
  }

  .genre h2 {
    margin: 3rem 0 3rem 3.5rem;
    font-family: "Roboto";
  }

  /*fonctionnement*/
  ol {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 1rem;
  }

  #genre li {
    align-items: center;
    background-color: #F5EDFF;
    flex-grow: 1;
    padding: 0.5rem 0.5rem;
    border-radius: 1.2rem;
    box-shadow: 5px 6px 10px 1px #a19f9f;
    margin-bottom: 1.5rem;
    list-style: none;
    font-weight: bold;
    position: relative;
    display: flex;
    margin-right: 1.5rem;
  }

  /*restaurant*/
  .container {
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
    align-items: center;
    margin-bottom: 45px;
  }

  .card {
    width: 46%;
    margin: 8px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 5px 15px 0 #c9c6c6;
    position: relative;
  }
}
@media all and (min-width: 1301px) {
  body {
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Roboto";
    margin: 0;
    width: 100%;
  }

  .header-index {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 10px;
    box-shadow: 0 0 0.5rem grey;
  }

  section {
    background-color: #f6f6f6;
    flex-direction: column;
    display: flex;
    justify-content: center;
  }

  .explorer-button {
    padding: 10px;
    border-radius: 20px;
    background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
    text-decoration: none;
    color: white;
    border: none;
    box-shadow: 2px 1px 8px -3px grey;
    width: 220px;
    height: 45px;
    text-align: center;
    margin: 3rem 4rem 3rem 33rem;
    cursor: pointer;
  }

  .genre h2 {
    margin: 3rem 0 3rem 3.5rem;
    font-family: "Roboto";
  }

  /*fonctionnement*/
  ol {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 2rem;
  }

  #genre li {
    align-items: center;
    background-color: #F5EDFF;
    flex-grow: 1;
    padding: 0.5rem 0.5rem;
    border-radius: 1.2rem;
    box-shadow: 5px 6px 10px 1px #a19f9f;
    margin-bottom: 1.5rem;
    list-style: none;
    font-weight: bold;
    position: relative;
    display: flex;
    margin-right: 1.5rem;
    margin-left: 3rem;
    height: 60px;
  }

  /*restaurant*/
  .container {
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
    align-items: center;
    margin-bottom: 45px;
  }

  .card {
    width: 46%;
    margin: 8px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 5px 15px 0 #c9c6c6;
    position: relative;
  }
}
/*tablette main-index*/
@media all and (min-width: 767px) and (max-width: 992px) {
  body {
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Roboto";
    margin: 0;
    width: 100%;
  }

  .header-index {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 10px;
    box-shadow: 0 0 0.5rem grey;
  }

  section {
    background-color: #f6f6f6;
    flex-direction: column;
    display: flex;
    justify-content: center;
  }

  .explorer-button {
    padding: 10px;
    border-radius: 20px;
    background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
    text-decoration: none;
    color: white;
    border: none;
    box-shadow: 2px 1px 8px -3px grey;
    width: 220px;
    height: 45px;
    text-align: center;
    margin: 3rem 4rem 3rem 16rem;
    cursor: pointer;
  }

  .genre h2 {
    margin: 3rem 0 3rem 1.5rem;
    font-family: "Roboto";
  }

  ol {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 4rem;
  }

  #Restaurants {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: #f6f6f6;
    margin: auto;
  }

  #Restaurants h2 {
    padding-left: 1rem;
    font-family: "Roboto";
  }

  .container {
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
    align-items: center;
    margin-bottom: 45px;
  }

  .card {
    width: 95%;
    margin: 8px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 5px 15px 0 #c9c6c6;
    position: relative;
  }

  .footer_container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  footer ul {
    padding-left: 5px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto-Black.ttf);
  font-weight: 900;
}
@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto-Medium.ttf);
  font-weight: 500;
}
* {
  font-family: "Roboto";
}

h2 {
  font-weight: 900;
}

h3 {
  font-weight: 900;
}

/*a:link,
a:visited {
  text-decoration: none;
  color: black;
}*/
.navbar {
  background-color: white;
  height: 80px;
  width: 100%;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  z-index: 10;
  position: relative;
}
.navbar .header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.menu_img {
  max-height: 32rem;
  height: 21rem;
  width: 100%;
  object-fit: cover;
}

.restaurant {
  max-width: 80rem;
  margin: auto;
  background-color: #f6f6f6;
  margin-top: -4rem;
  position: relative;
  padding: 2rem 1rem;
  border-radius: 2rem 2rem 0 0;
}
.restaurant .menu__titre {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.restaurant .menu__titre .menu__titre__restoname {
  font-family: Shrikhand;
  font-size: 25px;
}
.restaurant .menu__titre .restoLike {
  position: relative;
  left: 0vw !important;
  bottom: 0vh !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1.5rem;
}
.restaurant .gridMenu {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 1rem;
  padding: 1rem 0 0 0;
}
.restaurant .gridMenu .menu__entrees,
.restaurant .gridMenu .menu__plats,
.restaurant .gridMenu .menu__desserts {
  display: flex;
  flex-direction: column;
  align-content: center;
  max-width: 100%;
  width: 100%;
  gap: 1em;
  padding: 1em;
  overflow: hidden;
}
.restaurant .gridMenu .menu__entrees h3,
.restaurant .gridMenu .menu__plats h3,
.restaurant .gridMenu .menu__desserts h3 {
  font-weight: 400;
  border-bottom: 3px solid #99e2d0;
  width: 3rem;
  padding-bottom: 0.3rem;
}
.restaurant .gridMenu .menu__entrees .menu__platItem,
.restaurant .gridMenu .menu__plats .menu__platItem,
.restaurant .gridMenu .menu__desserts .menu__platItem {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 1rem;
  display: flex;
  overflow: hidden;
  max-width: 100%;
  background-color: white;
  cursor: pointer;
  height: 4rem;
}
.restaurant .gridMenu .menu__entrees .menu__platItem:hover .menu__platItem__select,
.restaurant .gridMenu .menu__plats .menu__platItem:hover .menu__platItem__select,
.restaurant .gridMenu .menu__desserts .menu__platItem:hover .menu__platItem__select {
  margin-right: 0;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}
.restaurant .gridMenu .menu__entrees .menu__platItem:hover i,
.restaurant .gridMenu .menu__plats .menu__platItem:hover i,
.restaurant .gridMenu .menu__desserts .menu__platItem:hover i {
  transform: rotate(360deg);
  transition-duration: 0.5s;
}
.restaurant .gridMenu .menu__entrees .menu__platItem .menu__platItem__desc,
.restaurant .gridMenu .menu__plats .menu__platItem .menu__platItem__desc,
.restaurant .gridMenu .menu__desserts .menu__platItem .menu__platItem__desc {
  width: 100%;
  display: flex;
  max-width: 100%;
  overflow: hidden;
}
.restaurant .gridMenu .menu__entrees .menu__platItem .menu__platItem__desc .menu__platItem__descText,
.restaurant .gridMenu .menu__plats .menu__platItem .menu__platItem__desc .menu__platItem__descText,
.restaurant .gridMenu .menu__desserts .menu__platItem .menu__platItem__desc .menu__platItem__descText {
  width: 100%;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 100%;
  overflow: hidden;
}
.restaurant .gridMenu .menu__entrees .menu__platItem .menu__platItem__desc .menu__platItem__descText > *,
.restaurant .gridMenu .menu__plats .menu__platItem .menu__platItem__desc .menu__platItem__descText > *,
.restaurant .gridMenu .menu__desserts .menu__platItem .menu__platItem__desc .menu__platItem__descText > * {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
}
.restaurant .gridMenu .menu__entrees .menu__platItem .menu__platItem__desc .menu__platItem__descPrix,
.restaurant .gridMenu .menu__plats .menu__platItem .menu__platItem__desc .menu__platItem__descPrix,
.restaurant .gridMenu .menu__desserts .menu__platItem .menu__platItem__desc .menu__platItem__descPrix {
  display: flex;
  align-items: flex-end;
  margin-bottom: 1rem;
  margin-right: 1rem;
  max-width: 100%;
}
.restaurant .gridMenu .menu__entrees .menu__platItem .menu__platItem__descText p,
.restaurant .gridMenu .menu__plats .menu__platItem .menu__platItem__descText p,
.restaurant .gridMenu .menu__desserts .menu__platItem .menu__platItem__descText p {
  font-size: 0.9em;
  text-align: inherit;
}
.restaurant .gridMenu .menu__entrees .menu__platItem .menu__platItem__select,
.restaurant .gridMenu .menu__plats .menu__platItem .menu__platItem__select,
.restaurant .gridMenu .menu__desserts .menu__platItem .menu__platItem__select {
  width: 7rem;
  background: #99e2d0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -7rem;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}
.restaurant .gridMenu .menu__entrees .menu__platItem .menu__platItem__select > i,
.restaurant .gridMenu .menu__plats .menu__platItem .menu__platItem__select > i,
.restaurant .gridMenu .menu__desserts .menu__platItem .menu__platItem__select > i {
  color: #99e2d0;
  padding: 0.5rem;
  border-radius: 50%;
  background: white;
  transition-duration: 0.5s;
}

.restaurants-heart-icon, .restaurant .menu__titre .restoLike {
  position: relative;
  float: right;
  right: 50px;
  bottom: 50px;
}
.restaurants-heart-icon > i, .restaurant .menu__titre .restoLike > i {
  font-size: 2rem;
  position: absolute;
  padding: 0.5rem;
}
.restaurants-heart-icon .fill, .restaurant .menu__titre .restoLike .fill {
  opacity: 0;
  transition-duration: 500ms;
}
.restaurants-heart-icon .bord, .restaurant .menu__titre .restoLike .bord {
  transition-duration: 500ms;
}
.restaurants-heart-icon:hover > .bord, .restaurant .menu__titre .restoLike:hover > .bord {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition-duration: 500ms;
}
.restaurants-heart-icon:hover > .fill, .restaurant .menu__titre .restoLike:hover > .fill {
  opacity: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition-duration: 500ms;
}

.m1 {
  animation: fadeInUp 1.5s backwards ease-in-out 0s 1;
}

.p1 {
  animation: fadeInUp 1.5s backwards ease-in-out 0.1s 1;
}

.p2 {
  animation: fadeInUp 1.5s backwards ease-in-out 0.2s 1;
}

.p3 {
  animation: fadeInUp 1.5s backwards ease-in-out 0.3s 1;
}

.p3b {
  animation: fadeInUp 1.5s backwards ease-in-out 0.35s 1;
}

.m2 {
  animation: fadeInUp 1.5s backwards ease-in-out 0.4s 1;
}

.p4 {
  animation: fadeInUp 1.5s backwards ease-in-out 0.5s 1;
}

.p5 {
  animation: fadeInUp 1.5s backwards ease-in-out 0.6s 1;
}

.p6 {
  animation: fadeInUp 1.5s backwards ease-in-out 0.7s 1;
}

.m3 {
  animation: fadeInUp 1.5s backwards ease-in-out 0.8s 1;
}

.p7 {
  animation: fadeInUp 1.5s backwards ease-in-out 0.9s 1;
}

.p8 {
  animation: fadeInUp 1.5s backwards ease-in-out 1s 1;
}

.p9 {
  animation: fadeInUp 1.5s backwards ease-in-out 1.1s 1;
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 25%, 0);
    transform: translate3d(0, 25%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 25%, 0);
    transform: translate3d(0, 25%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
body footer {
  background: #413d3d;
  color: white;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 2rem;
}
body footer .logo-footer {
  height: 17px;
}
body footer ul {
  list-style: none;
}
body footer ul .footer-link {
  color: white !important;
}
body footer ul .footer-icon {
  color: white;
  width: 1.2rem;
  margin-right: 0.5rem;
}

@media (min-width: 900px) {
  body .restaurant {
    width: 99vw;
  }
  body .restaurant .gridMenu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    row-gap: 1rem;
    padding: 1rem 0 0 0;
  }
  body .restaurant .gridMenu .menu__entrees,
body .restaurant .gridMenu .menu__plats,
body .restaurant .gridMenu .menu__desserts {
    display: flex;
    flex-direction: column;
    align-content: center;
    max-width: 100%;
    width: 100%;
    gap: 1em;
    padding: 1em;
    overflow: hidden;
  }
  body .restaurant .gridMenu .menu__entrees h3,
body .restaurant .gridMenu .menu__plats h3,
body .restaurant .gridMenu .menu__desserts h3 {
    font-weight: 400;
    border-bottom: 3px solid #99e2d0;
    width: 3rem;
    padding-bottom: 0.3rem;
  }
  body .restaurant .gridMenu .menu__entrees .menu__platItem,
body .restaurant .gridMenu .menu__plats .menu__platItem,
body .restaurant .gridMenu .menu__desserts .menu__platItem {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 1rem;
    display: flex;
    overflow: hidden;
    max-width: 100%;
    background-color: white;
    cursor: pointer;
    height: 5rem;
  }
  body .restaurant .gridMenu .menu__entrees .menu__platItem:hover .menu__platItem__select,
body .restaurant .gridMenu .menu__plats .menu__platItem:hover .menu__platItem__select,
body .restaurant .gridMenu .menu__desserts .menu__platItem:hover .menu__platItem__select {
    margin-right: 0;
    transition-duration: 0.5s;
    transition-timing-function: ease;
  }
  body .restaurant .gridMenu .menu__entrees .menu__platItem:hover i,
body .restaurant .gridMenu .menu__plats .menu__platItem:hover i,
body .restaurant .gridMenu .menu__desserts .menu__platItem:hover i {
    transform: rotate(360deg);
    transition-duration: 0.5s;
  }
  body .restaurant .gridMenu .menu__entrees .menu__platItem .menu__platItem__desc,
body .restaurant .gridMenu .menu__plats .menu__platItem .menu__platItem__desc,
body .restaurant .gridMenu .menu__desserts .menu__platItem .menu__platItem__desc {
    width: 100%;
    display: flex;
    max-width: 100%;
    overflow: hidden;
  }
  body .restaurant .gridMenu .menu__entrees .menu__platItem .menu__platItem__desc .menu__platItem__descText,
body .restaurant .gridMenu .menu__plats .menu__platItem .menu__platItem__desc .menu__platItem__descText,
body .restaurant .gridMenu .menu__desserts .menu__platItem .menu__platItem__desc .menu__platItem__descText {
    width: 80%;
    margin-left: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 100%;
    overflow: hidden;
  }
  body .restaurant .gridMenu .menu__entrees .menu__platItem .menu__platItem__desc .menu__platItem__descText > *,
body .restaurant .gridMenu .menu__plats .menu__platItem .menu__platItem__desc .menu__platItem__descText > *,
body .restaurant .gridMenu .menu__desserts .menu__platItem .menu__platItem__desc .menu__platItem__descText > * {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
  }
  body .restaurant .gridMenu .menu__entrees .menu__platItem .menu__platItem__desc .menu__platItem__descPrix,
body .restaurant .gridMenu .menu__plats .menu__platItem .menu__platItem__desc .menu__platItem__descPrix,
body .restaurant .gridMenu .menu__desserts .menu__platItem .menu__platItem__desc .menu__platItem__descPrix {
    display: flex;
    align-items: flex-end;
    margin-bottom: 1rem;
    margin-right: 1rem;
    max-width: 100%;
  }
  body .restaurant .gridMenu .menu__entrees .menu__platItem .menu__platItem__select,
body .restaurant .gridMenu .menu__plats .menu__platItem .menu__platItem__select,
body .restaurant .gridMenu .menu__desserts .menu__platItem .menu__platItem__select {
    width: 7rem;
    background: #99e2d0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -7rem;
    transition-duration: 0.5s;
    transition-timing-function: ease;
  }
  body .restaurant .gridMenu .menu__entrees .menu__platItem .menu__platItem__select > i,
body .restaurant .gridMenu .menu__plats .menu__platItem .menu__platItem__select > i,
body .restaurant .gridMenu .menu__desserts .menu__platItem .menu__platItem__select > i {
    color: #99e2d0;
    padding: 0.5rem;
    border-radius: 50%;
    background: white;
    transition-duration: 0.5s;
  }
}
/*page principale*/
.header-index {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-bottom: 10px;
  padding-top: 10px;
  box-shadow: 0 0 0.5rem gray;
}

.header-index img {
  width: 200px;
}

/*page menu*/
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.header-menu {
  display: flex;
  text-align: center;
  align-items: center;
  font-family: "Shrikhand";
}

/*flèche menu*/
.navbar .fa-arrow-left {
  display: inline-block;
  position: absolute;
  left: 1rem;
  top: 1rem;
  font-size: 1.2rem;
}

.navbar img {
  height: 45px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.menu_img {
  max-height: 32rem;
  height: 21rem;
  width: 100%;
  object-fit: cover;
}

/*btn index*/
.restaurants_btn:hover {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  opacity: 0.7;
  box-shadow: 0px 12px 30px -5px rgba(0, 0, 0, 0.85);
}

.explorer-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  background-color: #f7f7f7;
  padding: 3rem 2rem;
}
.explorer-container .explorer-button {
  border-radius: 25px;
  height: 3.2rem;
  width: 220px;
  color: white;
  cursor: pointer;
  border: none;
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  box-shadow: 0 5px 7px 0px rgba(128, 128, 128, 0.2);
  font-weight: 500;
  font-size: 1em;
}
.explorer-container .explorer-button:hover {
  background: linear-gradient(0deg, #ff79da 0%, #9356dc 100%);
}

/*btn commander*/
.explorer-button {
  padding: 10px;
  border-radius: 20px;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  text-decoration: none;
  color: white;
  border: none;
  box-shadow: 2px 1px 8px -3px gray;
  width: 220px;
  height: 45px;
  text-align: center;
  margin: 3rem 4rem 3rem 5rem;
  cursor: pointer;
}

@media (min-width: 767px) {
  .explorer-button {
    padding: 10px;
    border-radius: 20px;
    background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
    text-decoration: none;
    color: white;
    border: none;
    box-shadow: 2px 1px 8px -3px grey;
    width: 220px;
    height: 45px;
    text-align: center;
    margin: 3rem 4rem 3rem 16rem;
    cursor: pointer;
  }
}
@media (min-width: 900px) {
  .explorer-button {
    padding: 10px;
    border-radius: 20px;
    background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
    text-decoration: none;
    color: white;
    border: none;
    box-shadow: 2px 1px 8px -3px grey;
    width: 220px;
    height: 45px;
    text-align: center;
    margin: 3rem 4rem 3rem 24rem;
    cursor: pointer;
  }
}
@media (min-width: 1301px) {
  .explorer-button {
    padding: 10px;
    border-radius: 20px;
    background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
    text-decoration: none;
    color: white;
    border: none;
    box-shadow: 2px 1px 8px -3px grey;
    width: 220px;
    height: 45px;
    text-align: center;
    margin: 3rem 4rem 3rem 33rem;
    cursor: pointer;
  }
}
.explorer-button:hover {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  opacity: 0.7;
  box-shadow: 0px 12px 30px -5px rgba(0, 0, 0, 0.85);
}

/*coeur cartes restaurants*/
.restoLike {
  position: absolute;
  right: 3rem;
  margin-top: 15px;
  cursor: pointer;
}

.restaurant .menu__titre .restoLike {
  position: relative;
  float: right;
  right: 50px;
  top: -7px;
}

.fas:hover {
  color: transparent;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: 0.6s;
  display: block;
}

.far {
  opacity: 1;
  padding: 0;
}

/*resto*/
.fas:hover {
  color: transparent;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: 0.6s;
  display: block;
}

.far {
  opacity: 1;
  padding: 0;
}

/*coeur page menu*/
.heart-btn {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  right: 3.5rem;
  border-radius: 50%;
}

.fa-heart {
  cursor: pointer;
  font-size: 1.5rem;
  position: absolute;
  opacity: 0;
}

.fa:hover {
  color: transparent;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: 0.6s;
  display: block;
}

.far {
  opacity: 1;
  padding: 0;
}

/*flèche menu*/
.fa-arrow-left:hover {
  color: black;
}

/*icone footer*/
.fa-hands-helping:hover {
  color: rgb(255, 255, 255);
}

.fa-utensils:hover {
  color: rgb(255, 255, 255);
}

/*index*/
.loader {
  background-color: lightgray;
  z-index: 1;
  display: flex;
  justify-content: center;
  animation: back-up 5s ease-out;
  animation: back-up 1s 3s forwards;
  width: 100vw;
  height: 100vh;
  position: fixed;
  inset: 0;
  opacity: 0.9;
  transform-origin: top;
  place-items: center;
}

@keyframes back-up {
  to {
    transform: scale(0);
  }
}
/*bouteille et texte*/
.spinner {
  width: 40px;
  height: 80px;
  display: inline-block;
  position: relative;
  border: 2px solid #FFF;
  box-sizing: border-box;
  color: #7c2f2f;
  border-radius: 20px 20px 4px 4px;
  background: #fff;
  animation: full 4s linear infinite alternate;
  right: 220px;
  font-family: "Shrikhand";
  font-size: 14px;
  text-align: center;
}

.spinner::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translate(-50%, -95%);
  border: 2px solid #FFF;
  border-bottom: none;
  background: #fff;
  width: 15px;
  height: 35px;
  animation: fullcollar 4s linear infinite alternate;
  /*col plein*/
}

/*plein*/
@keyframes full {
  0% {
    box-shadow: 0 0 inset;
  }
  50%, 100% {
    box-shadow: 0 -98px inset;
  }
}
/*plein*/
@keyframes fullcollar {
  0%, 50% {
    box-shadow: 0 0 inset;
  }
  100% {
    box-shadow: 0 -20px inset;
  }
}
/*fonctionnement*/
.genre li:hover {
  background-color: #f3ecfb;
  box-shadow: 2px 1px 8px -3px rgb(106, 105, 105);
  transform: scale(1.1);
}

/*survol icone fonctionnement*/
.genre-fas:hover {
  color: rgb(147, 86, 220);
}

.genre ol:hover {
  color: rgb(147, 86, 220);
}

/*flèche menu*/
.fa-arrow-left:hover {
  color: black;
}

.card:hover {
  transform: scale(1.02);
  cursor: pointer;
}

/*animation vers le haut menu*/
@keyframes back {
  to {
    opacity: 1;
    transform: translateY(-33%);
  }
}
.m1 {
  animation: fadeInUp 1.5s backwards ease-in-out 0s 1;
}

.p1 {
  animation: fadeInUp 1.5s backwards ease-in-out 0.1s 1;
}

.fas .fa-check {
  color: #99e2d0;
  padding: 0.5rem;
  border-radius: 50%;
  background: white;
  transition-duration: 0.5s;
}

/*déscription des choix (entrées,plats,desserts)*/
/*.choix_plat p {
  text-align: inherit;
  font-size: 0.9em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  transition: all 1s ease-in;
}*/
/*texte*/
.menu__platItem__desc {
  width: 100%;
  display: flex;
  max-width: 100%;
  overflow: hidden;
}
.menu__platItem__desc .menu__platItem__descText {
  width: 100%;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 100%;
  overflow: hidden;
}
.menu__platItem__desc .menu__platItem__descText > * {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
}

/*choix*/
/*footer*/
footer {
  background-color: rgb(53, 53, 53);
}

.footer_container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

/*logo*/
.logo_footer {
  font-family: Shrikhand, "cursive";
  font-size: 1.3rem;
  margin-top: 20px;
  color: rgb(255, 255, 255);
}

/*icone*/
.fa-utensils, .fa-hands-helping {
  color: rgb(255, 255, 255);
  padding-right: 0.5rem;
}

.footer_container a {
  text-decoration: none;
}

footer ul {
  padding-left: 5px;
}

/*footer sans icone*/
footer p {
  color: rgb(255, 255, 255);
  font-size: 16px;
}

footer ul {
  list-style-type: none;
}

/*icone footer*/
.fa-hands-helping:hover {
  color: white;
}

.fa-utensils:hover {
  color: white;
}

/*footer*/
footer {
  background-color: #353535;
}

.footer_container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

/*logo*/
.logo_footer {
  font-family: Shrikhand, "cursive";
  font-size: 1.3rem;
  margin-top: 20px;
  color: white;
}

/*icone*/
.fa-utensils, .fa-hands-helping {
  color: white;
  padding-right: 0.5rem;
}

.footer_container a {
  text-decoration: none;
}

footer ul {
  padding-left: 5px;
}

/*footer sans icone*/
footer p {
  color: white;
  font-size: 16px;
}

footer ul {
  list-style-type: none;
}

/*Primaire*/
/*Secondaire*/
/*Tertiaire*/

/*# sourceMappingURL=style.css.map */
