body {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Roboto";
  margin: 0;
  width: 100%;
}

.main-menu img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

/*nom resto ex:la palette*/
.nom {
  display: flex;
  flex-direction: column;
}

h2 {
  font-family: Shrikhand;
  font-size: 1.5em;
  margin-left: 7px;
}

.resto {
  display: flex;
  justify-content: space-between;
}

/*choix de carte*/
.bloc-menu {
  flex-direction: column;
  justify-content: center;
}

.menu {
  background-color: #f6f6f6;
  flex-direction: column;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  border-radius: 2rem 2rem 0 0;
  z-index: 1;
  margin-top: -2rem;
  position: relative;
}

.cards_choix {
  margin: 0;
  width: 32%;
}

.cards_choix h3 {
  text-transform: uppercase;
  border-bottom: 3px solid #99E2D0;
  width: 45px;
  margin-left: 5px;
  font-weight: lighter;
  color: #5C5C5C;
}

h4 {
  margin-top: 10px;
  margin-bottom: -8px;
}

/*déscription des choix (entrées,plats,desserts)*/
.choix_plat p {
  text-align: inherit;
  font-size: 0.9em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.prix {
  padding: 12px;
  display: flex;
  align-items: flex-end;
}

section {
  background-color: #f6f6f6;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #eaeaea;
  height: 50px;
}

h1 {
  text-align: center;
  margin-top: 30px;
}

section p {
  text-align: center;
}

/*fonctionnement*/
ol {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
}

#genre li {
  align-items: center;
  background-color: #F5EDFF;
  flex-grow: 1;
  padding: 0.5rem 0.5rem;
  border-radius: 1.2rem;
  box-shadow: 2px 1px 8px -3px #a19f9f;
  margin-bottom: 1.5rem;
  list-style: none;
  font-weight: bold;
  position: relative;
  display: flex;
}

.number {
  color: #9356dc;
  border-radius: 50%;
  background-color: #9356dc;
  width: 22px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  left: -0.5rem;
}

.genre h2 {
  margin: 3rem 0 3rem 0.5rem;
  font-family: "Roboto";
}

/*icone fonctionnement*/
.genre i {
  color: #7e7e7e;
  margin: 0 20px 0 20px;
}

/*bloc restaurants*/
#Restaurants {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: #f6f6f6;
  margin: auto;
}

#Restaurants h2 {
  padding-left: 1rem;
  font-family: "Roboto";
}

.container {
  display: flex;
  justify-content: space-evenly;
  flex-flow: wrap;
  align-items: center;
  margin-bottom: 45px;
}

figcaption {
  display: flex;
}

figcaption p {
  color: #616060;
  font-size: 17px;
}

.card_resto {
  padding-left: 1rem;
  font-family: "Roboto";
  line-height: 0.5;
  padding-bottom: 5px;
}

.card {
  width: 95%;
  margin: 8px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 5px 15px 0 #c9c6c6;
  position: relative;
}

.card_new {
  background-color: #99e2d0;
  color: #1b6150;
  position: absolute;
  right: 0.7rem;
  top: 1rem;
  padding: 8px;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}

.choix_plat {
  display: flex;
  margin: 0 0px 15px 5px;
  width: 300px;
  overflow: hidden;
  background-color: #FFF;
  border-radius: 15px;
  box-shadow: 1px 5px 11px -2px #a19f9f;
  cursor: pointer;
  padding-left: 0.5rem;
}

