@import "./composants/boutons.scss" ;
.restaurants_btn {
    padding: 10px;
    border-radius:20px;
    background-image: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));  ;
    text-decoration: none;
    color: white;
    border: none;
    box-shadow:2px 1px 8px -3px gray; 
    width: 250px;
    height: 25px;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
    cursor: pointer;
}
.restaurants_btn:hover {
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    opacity: 0.7;
    box-shadow: 0px 12px 30px -5px rgba(0,0,0,0.85);
  }

/*coeur cartes restaurants*/ 
.heart_btn {
    position: absolute; 
    right: 3rem;
    margin-top: 15px;
    cursor: pointer;  
}
.fas:hover {
    color: transparent;
    background-image: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));  
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 1;
    transition: 0.6s;
    display: block;
}
.far {
    opacity:1;
}
/*page menu*/
.fa-heart {
    cursor: pointer;
    font-size: 1.5rem;
    position: absolute;
    opacity: 0;
}
/*coeur page menu*/
.heart-btn {
    cursor: pointer;
}

