@import "./pages/main-index.scss" ;
body {
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Roboto";
    margin: 0;
    width: 100%;
} 
.loader {
    display: flex;
    justify-content: center;
    -webkit-animation: 4s;
    animation-timing-function:linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
   }
    @keyframes  { {
      background: url("restaurantfond.jpg");
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size:cover;
      }
  }
    
}
section {
    background-color:rgb(246 246 246);
    flex-direction: column;
    display: flex;
    justify-content: center;
}
form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: rgb(234 234 234 );
    height: 50px;
}
h1 {
    text-align: center;
    margin-top: 30px;
}
section p {
    text-align: center;
}
/*fonctionnement*/
.section1 {
    background-color: white;
  }
ol {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
}
li {
    align-items: center;
    background-color: #f6f6f6;
    flex-grow: 1;
    padding: 1rem 2rem;
    border-radius: 1.2rem;
    box-shadow:2px 1px 8px -3px rgb(161, 159, 159); 
    margin-bottom: 1.5rem;
    list-style: none;  
    position: relative;  
}
.number {
    color: rgb(147,86,220);
    border-radius: 50%;
    background-color: rgb(147,86,220);
    width: 22px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    left: -0.5rem;
}
.genre h2  { 
    margin: 3rem 0 3rem 0.5rem;
}
/*icone*/
.genre i {
    color: rgb(126,126,126);
    margin: 0 25px 0 25px;
}
i.fa-store {
    color: rgb(147,86,220);
}
/*bloc restaurants*/
#Restaurants {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color:rgb(246,246,246);
    margin: auto;
}
.Restaurants h2 {
    padding: 30px;
}
.container {
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap; 
    align-items: center; 
}
figcaption {
    display:flex;  
}
.resto {
    padding-left: 20px;
}
.card-new {
    background-color: rgb(153,226,208);
    color: #1b6150;
    position: absolute;
    right: 3.7rem;
    padding:8px;
}
.card {
    width: 90%;
    border-radius:30px;
    background-color: rgb(255,255,255);
    box-shadow: 0 5px 15px 0 rgb(201, 198, 198);
}
.card img {
    width: 100%;
    border-radius: 25px;
    height: 180px;
    object-fit: cover;
}
