body {
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Roboto";
    margin: 0;
    width: 100%;
} 
.loader {
    background-color: lightgray;
    z-index: 1;
    display: flex;
    justify-content: center;
    animation: back-up 5s ease-out;
    animation: back-up 1s 3s forwards;
    width: 100vw;
    height: 100vh;
    position: fixed;
    inset: 0;
    opacity: 0.9;
    transform-origin: top;
    place-items: center;
  }
  
  @keyframes back-up {
    to {
      transform: scale(0);
    }
  }
  /*bouteille et texte*/
  .spinner {
    width: 40px;
    height: 80px;
    display: inline-block;
    position: relative;
    border: 2px solid #FFF;
    box-sizing: border-box;
    color: #7c2f2f;
    border-radius: 20px 20px 4px 4px;
    background: #fff;
    animation: full 4s linear infinite alternate;
    right: 220px;
    font-family: "Shrikhand";
    font-size: 14px;
    text-align: center;
  }
  .spinner::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, -95%);
    border: 2px solid #FFF;
    border-bottom: none;
    background: #fff;
    width: 15px;
    height: 35px;
    animation: fullcollar 4s linear infinite alternate; 
     /*col plein*/
  }
  /*plein*/
  @keyframes full {
    0% {
      box-shadow: 0 0 inset;
    }
    50%, 100% {
      box-shadow: 0 -98px inset;
    }
  }
  /*plein*/
  @keyframes fullcollar {
    0%, 50% {
      box-shadow: 0 0 inset;
    }
    100% {
      box-shadow: 0 -20px inset;
    }
  }
section {
    background-color:rgb(246 246 246);
    flex-direction: column;
    display: flex;
    justify-content: center;
}
form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: rgb(234 234 234 );
    height: 50px;
}
h1 {
    text-align: center;
    margin-top: 30px;
}
section p {
    text-align: center;
}
/*fonctionnement*/
ol {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
}
li {
    align-items: center;
    background-color:#F5EDFF ;
    flex-grow: 1;
    padding: 0.5rem 0.5rem;
    border-radius: 1.2rem;
    box-shadow:2px 1px 8px -3px rgb(161, 159, 159); 
    margin-bottom: 1.5rem;
    list-style: none; 
    font-weight: bold;
    position: relative;  
    display: flex;
}
.number {
    color: rgb(147,86,220);
    border-radius: 50%;
    background-color: rgb(147,86,220);
    width: 22px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    left: -0.5rem;
}
.genre h2  { 
    margin: 3rem 0 3rem 0.5rem;
    font-family: "Roboto";
}
/*icone fonctionnement*/
.genre i {
    color: rgb(126,126,126);
    margin: 0 20px 0 20px;
}
/*bloc restaurants*/
#Restaurants {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color:rgb(246,246,246);
    margin: auto;
}
#Restaurants h2 {
    padding-left: 1rem;
    font-family: "Roboto";
}
.container {
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap; 
    align-items: center;  
    margin-bottom: 45px;
}
figcaption {
    display:flex;  
}
figcaption p {
    color:#616060;
    font-size: 17px;
}
.card_resto {
    padding-left: 1rem;
    font-family: 'Roboto';
    line-height: 0.5;
    padding-bottom: 5px;
}
.card {
    width: 95%;
    margin: 8px;
    border-radius:15px;
    background-color: rgb(255,255,255);
    box-shadow: 0 5px 15px 0 rgb(201, 198, 198);
    position: relative;
}
.card_new {
    background-color: rgb(153,226,208);
    color: #1b6150;
    position: absolute;
    right: 0.7rem;
    top:1rem;
    padding:8px;
}
.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}
   