/*index*/
.loader {
    background-color: lightgray;
    z-index: 1;
    display: flex;
    justify-content: center;
    animation:back-up 5s ease-out;
    animation: back-up 1s 3s forwards;
    width: 100vw;
    height: 100vh;
    position: fixed;
    inset: 0;
    opacity: 0.9;
    transform-origin: top;
    place-items: center;
}
@keyframes back-up {
    to {
        transform: scale(0);  
    }   
}
/*bouteille et texte*/
.spinner {
  width: 40px;
  height: 80px;
  display: inline-block;
  position: relative;
  border: 2px solid #FFF;
  box-sizing: border-box;
  color: #7c2f2f;
  border-radius: 20px 20px 4px 4px;
  background: #fff;
  animation: full 4s linear infinite alternate;
  right: 220px;
  font-family: 'Shrikhand';
  font-size: 14px;
  text-align: center;
}
.spinner::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translate(-50%, -95%);
  border: 2px solid #FFF;
  border-bottom: none;
  background: #fff;
  width: 15px;
  height: 35px;
  animation: fullcollar 4s linear infinite alternate;/*col plein*/
}
/*plein*/
@keyframes full {
  0% { 
    box-shadow: 0 0  inset } 
    50% , 100% { 
    box-shadow: 0 -98px inset }
}
/*plein*/
@keyframes fullcollar {
  0% , 50%{ 
    box-shadow: 0 0  inset }
  100% { 
    box-shadow: 0 -20px inset }
}
/*fonctionnement*/
.genre li:hover {
  background-color:#f3ecfb;
  box-shadow:2px 1px 8px -3px rgb(106, 105, 105); 
  transform: scale(1.1);  
}
/*survol icone fonctionnement*/
.genre-fas:hover {
  color: rgb(147,86,220);
}
.genre ol:hover {
  color: rgb(147,86,220);
}
/*flèche menu*/
.fa-arrow-left:hover {
  color: black;
}
.card:hover {
  transform: scale(1.02);
  cursor: pointer;
}
/*animation vers le haut menu*/

  @keyframes back {
    to {
        opacity:1;
        transform: translateY(-33%);
    }  
}

.fas .fa-check {
  color: #99e2d0;
  padding: 0.5rem;
  border-radius: 50%;
  background: white;
  transition-duration: 0.5s;
}
/*texte*/
.menu__platItem {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 1rem;
  display: flex;
  overflow: hidden;
  max-width: 100%;
  background-color: white;
  cursor: pointer;
  height: 5rem;
  &:hover .menu__platItem__select {
    margin-right: 0;
    transition-duration: 0.5s;
    transition-timing-function: ease;
  }
  &:hover i {
    transform: rotate(360deg);
    transition-duration: 0.5s;
  }
} 
/**/
.menu__platItem__descText p{
  font-size: 0.9em;
  text-align: inherit;
}
/*coeur*/
.restaurants-heart-icon, .restaurant .menu__titre .restoLike {
  position: relative;
  float: right;
  right: 50px;
  bottom: 50px;
}
.restaurants-heart-icon > i, .restaurant .menu__titre .restoLike > i {
  font-size: 2rem;
  position: absolute;
  padding: 0.5rem;
}
.restaurants-heart-icon .fill, .restaurant .menu__titre .restoLike .fill {
  opacity: 0;
  transition-duration: 500ms;
}
.restaurants-heart-icon .bord, .restaurant .menu__titre .restoLike .bord {
  transition-duration: 500ms;
}
.restaurants-heart-icon:hover > .bord, .restaurant .menu__titre .restoLike:hover > .bord {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition-duration: 500ms;
}
.restaurants-heart-icon:hover > .fill, .restaurant .menu__titre .restoLike:hover > .fill {
  opacity: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition-duration: 500ms;
}

.m1 {
  animation: fadeInUp 1.5s backwards ease-in-out 0s 1;
}

.p1 {
  animation: fadeInUp 1.5s backwards ease-in-out 0.1s 1;
}

.p2 {
  animation: fadeInUp 1.5s backwards ease-in-out 0.2s 1;
}

.p3 {
  animation: fadeInUp 1.5s backwards ease-in-out 0.3s 1;
}

.p3b {
  animation: fadeInUp 1.5s backwards ease-in-out 0.35s 1;
}

.m2 {
  animation: fadeInUp 1.5s backwards ease-in-out 0.4s 1;
}

.p4 {
  animation: fadeInUp 1.5s backwards ease-in-out 0.5s 1;
}

.p5 {
  animation: fadeInUp 1.5s backwards ease-in-out 0.6s 1;
}

.p6 {
  animation: fadeInUp 1.5s backwards ease-in-out 0.7s 1;
}

.m3 {
  animation: fadeInUp 1.5s backwards ease-in-out 0.8s 1;
}

.p7 {
  animation: fadeInUp 1.5s backwards ease-in-out 0.9s 1;
}

.p8 {
  animation: fadeInUp 1.5s backwards ease-in-out 1s 1;
}

.p9 {
  animation: fadeInUp 1.5s backwards ease-in-out 1.1s 1;
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 25%, 0);
    transform: translate3d(0, 25%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 25%, 0);
    transform: translate3d(0, 25%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
  


  





      

  