/*index*/
.loader {
    background-color: lightgray;
    z-index: 1;
    display: flex;
    justify-content: center;
    animation:back-up 5s ease-out;
    animation: back-up 1s 3s forwards;
    width: 100vw;
    height: 100vh;
    position: fixed;
    inset: 0;
    opacity: 0.9;
    transform-origin: top;
    place-items: center;
}
@keyframes back-up {
    to {
        transform: scale(0);  
    }   
}
/*bouteille et texte*/
.spinner {
  width: 40px;
  height: 80px;
  display: inline-block;
  position: relative;
  border: 2px solid #FFF;
  box-sizing: border-box;
  color: #7c2f2f;
  border-radius: 20px 20px 4px 4px;
  background: #fff;
  animation: full 4s linear infinite alternate;
  right: 220px;
  font-family: 'Shrikhand';
  font-size: 14px;
  text-align: center;
}
.spinner::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translate(-50%, -95%);
  border: 2px solid #FFF;
  border-bottom: none;
  background: #fff;
  width: 15px;
  height: 35px;
  animation: fullcollar 4s linear infinite alternate;/*col plein*/
}
/*plein*/
@keyframes full {
  0% { 
    box-shadow: 0 0  inset } 
    50% , 100% { 
    box-shadow: 0 -98px inset }
}
/*plein*/
@keyframes fullcollar {
  0% , 50%{ 
    box-shadow: 0 0  inset }
  100% { 
    box-shadow: 0 -20px inset }
}
/*fonctionnement*/
.genre li:hover {
  background-color:#f3ecfb;
  box-shadow:2px 1px 8px -3px rgb(106, 105, 105); 
  transform: scale(1.1);  
}
/*survol icone fonctionnement*/
.genre-fas:hover {
    color: rgb(147,86,220);
}
/*flèche menu*/
.fa-arrow-left:hover {
  color: black;
}
/*animation vers le haut menu*/
.choix_plat {
  animation:back 2s ease-out;
  z-index: 1;
}
  @keyframes back {
    to {
        opacity:1;
        transform: translateY(-33%);
    }  
}
.texte  {
  margin-top: 10px;
  margin-bottom: -8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
   width: 226px;
}
/*animation rotation et choix menu*/
.clic_choix {
  width: 60px;
  border-radius: 0 1rem 1rem 0;
  text-align: center;
  color: #FFF;
  margin: -1rem -5rem -1rem -2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out; 
  transform: translateX(10px);
}
.choix_plat {
  display: flex;
  margin: 0 0px 15px 5px;
  width: 300px;
  overflow: hidden;
  background-color: #FFF;
  border-radius: 15px;
  box-shadow:1px 5px 11px -2px #a19f9f; ;
  cursor: pointer;
  padding-left: 0.5rem;
} 
/*fonctionnement*/
.genre li:hover {
  background-color: #f3ecfb;
  box-shadow: 2px 1px 8px -3px #6a6969;
  transform: scale(1.1);
}
/*survol icone fonctionnement*/
.genre-fas:hover {
  color: #9356dc;
}
/*menu*/
.clic_choix:hover {
  animation: transition 0.3s;
  transition: all 0.3s ease-in-out;
  background-color: #99E2D0;
  opacity: 1;
  animation: clic_choix 1s forwards;
}
.clic_choix i:hover {
  color: white;
  animation: rotate 1s ease forwards;
}
.clic_choix i {
  padding: 0;
}
@keyframes rotate {
  to {
    transform: translate(0) rotate(360deg);
    opacity: 1;
    visibility: visible;
  }
}
@keyframes clic_choix {
  to {
    transform: translate(0);
    opacity: 1;
  }
}



      

  