@import "./utils/variables.scss" ;
/*Primaire*/
$base-color:gray;/*box shadox header,btn*/
$base-color:rgb(234 234 234 );/*form*/
$base-color:#99E2D0;/*surlignement menu,clic*/
$base-color:rgb(246 246 246);/*section*/
$base-color:#9356DC;/*icone*/
$base-color:white;
$base-color:#f6f6f6;/*li*/
$base-color:#a19f9f;/*li*/
$base-color:rgb(255,255,255);/*card*/
$base-color:#9356dc;/*number*/
$base-color:#7e7e7e;/*genre i*/
$base-color:rgb(161, 159, 159); /*box shadox*/
$base-color:rgb(126,126,126);
$base-color:#1b6150;/*text new*/
$base-color:#c9c6c6;/*box shadow card*/
$base-color:rgb(201, 198, 198);
$base-color:rgb(53,53,53);/*footer*/
/*Secondaire*/
$base-color:linear-gradient(0deg,rgba(147,86,220,.9),#FF79DA);/*btn,heart*/
/*Tertiaire*/
$base-color:#99E2D0;/*new*/
/*général*/
$fonts:"Roboto";
$fonts:Shrikhand,"cursive";
$cursor:pointer;






